{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="about-page">
    <!-- Introduction Section -->
    <section class="introduction mb-5">
        <h1>About me</h1>
        <p>Hi, I'm Kacper! I'm a self-taught software developer interested in AI solutions, UI/UX, and web development. I study mathematics and machine learning independently. I enjoy work that prioritizes the user. In my free time, I work on projects that have applications in my daily life and have real impact on the world around me.</p>
    </section>

    <!-- Tech Stack Section -->
    <section class="tech-stack mb-5">
        <h4>Tech Stack</h4>
        <p>Here are some of the technologies I work with:</p>
        <ul>
            <li>Programming Languages: Python, HTML, CSS, JavaScript, GDScript, C#, C</li>
            <li>Frameworks: Django, Flask, React, Node.js</li>
            <li>Tools: Git, VS Code</li>
            <li>Databases: SQLite, MySQL</li>
        </ul>
    </section>

    <!-- Education Section -->
    <section class="education mb-5">
        <h4>Education</h4>
        <h5>University Education</h5>
        <ul>
            <li><strong>PreMaster's in (Digitial) Business Administration</strong> - University of Amsterdam (2024 - 2025)</li>
                <ul>
                    <li>Data Analysis using SPSS</li>
                    <li>Statistics</li>
                </ul>
            <li><strong>Bachelor's Degree in European Studies (Law Major)</strong> - University of Amsterdam (2020 - 2023)</li>
                <ul>
                    <li>Legal Research using R</li>
                    <li>Analytical skills</li>
                    <li>Problem-solving</li>
                </ul>
        </ul>
        <h5>Independent learning</h5>
            <h6>Mathematics</h6>
            <ul>
                <li><strong>Linear Algebra</strong> - MIT OpenCourseWare (2025)</li>
                <li><strong>Real Analysis</strong> - MIT OpenCourseWare (2025)</li>
                <li><strong>Calculus</strong> - MIT OpenCourseWare (2024)</li>
            </ul>
            <h6>Programming</h6>
            <ul>
                <li><strong>CS50's Introduction to Game Development</strong> - Harvard University (2024)</li>
                <li><strong>CS50's Web Programming with Python and JavaScript</strong> - Harvard University (2024)</li>
                <li><strong>CS50: Introduction to Computer Science</strong> - Harvard University (2023)</li>
            </ul>
    </section>

    <!-- Job Experience Section -->
    <section class="job-experience mb-5">
        <h2>Job Experience</h2>
        <ul>
            <li><strong>Assistant Manager</strong> - Back to Black (2022 - Present)</li>
                <ul>
                    <li>Leading a team of 5 and managing daily operations</li>
                    <li>E-commerce assistance and stock management</li>
                    <li>Customer service and sales</li>
                </ul>
            <li><strong>Office Administration</strong> - Trans-Poz (2020 - 2022)</li>
                <ul>
                    <li>Assisted in office management and administrative tasks</li>
                    <li>Handled customer inquiries and support</li>
                    <li>Managed data entry and documentation</li>
                </ul>
        </ul>
    </section>

    <!-- Languages Section -->
    <section class="languages mb-5">
        <h2>Languages</h2>
        <ul>
            <li>English - Fluent</li>
            <li>Polish - Native</li>
            <li>French - Intermediate</li>
            <li>Dutch - Basic</li>
        </ul>
    </section>

    <!-- Skills Section -->
    <section class="skills mb-5">
        <h2>Skills</h2>
        <ul>
            <li>Problem-solving</li>
            <li>Critical thinking</li>
            <li>Data analysis</li>
            <li>Team collaboration and communication</li>
            <li>Time management and organisation</li>
            <li>Administrative skills</li>
        </ul>
    </section>
</div>
{% endblock %}